.addArmorButton {
    margin-top: 6px;
    width: 100%;
}

.infoLayout {
    display: flex;
    flex-direction: column;

    &:hover {
        .infoCategory {
            visibility: visible;
        }
    }
}

.infoCategory {
    align-self: flex-start;
    font-size: 18px;
    margin-bottom: 6px;
    display: flex;
    width: 100%;
    visibility: hidden;

    @media (pointer: coarse) {
        visibility: visible;
    }
}

.changeArmor {
    margin-left: 6px;
}

.removeArmor {
    margin-left: auto;
}

.infoDisplay {
    display: flex;
}

.featureBox {
    border: 1px solid var(--foreground-bright);
    border-radius: 10px;
    padding: 10px;
    margin-top: 6px;
}

.feature {
    font-size: 14px;
    margin-top: 3px;
}

.divider {
    width: 1px;
    height: 15px;
    margin: 0 3px;
    background-color: var(--foreground-bright);
}
