.classTitle {
    font-size: 20px;
    border-bottom: 1px solid var(--foreground-bright);
}

.featureName {
    color: var(--foreground-secondary);
    margin-top: 12px;
    margin-bottom: 6px;
}

.featureDescription {
    font-size: 14px;
    line-height: 18px;
}

.featureDescriptionBlock {
    margin-bottom: 12px;
}

.featureClarification {
    font-size: 14px;
    font-style: italic;
    margin-top: 12px;
    line-height: 18px;
}