.circle {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--foreground-bright);
    border-radius: 10px;
}

.circleFilled {
    background-color: var(--foreground-bright);

}

.circleContainer {
    display: flex;
    justify-content: center;
}

.addWeaponButton {
    margin-top: 6px;
    width: 100%;
}

.weaponInfoLayout {
    display: flex;
    flex-direction: column;
    margin-top: 12px;

    &:hover {
        .weaponChangeButtons {
            visibility: visible;
        }
    }
}

.weaponInfoCategory {
    align-self: flex-start;
    font-size: 18px;
    margin-bottom: 6px;
    display: flex;
    width: 100%;
    margin-top: 6px;
    align-items: center;
}

.weaponChangeButtons {
    visibility: hidden;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-direction: row;

    @media (pointer: coarse) {
        visibility: visible;
    }
}

.categoryHeading {
    display: flex;
    flex-direction: row;
}

.weaponHandDiagram {
    margin-left: 6px;
    display: flex;
    align-items: center;
}

.changeWeapon {
    margin-left: 6px;
}

.removeWeapon {
    margin-left: auto;
    height: 100%;
}

.weaponInfoDisplay {
    display: flex;
    margin: 0 3px;
}

.featureBox {
    border: 1px solid var(--foreground-bright);
    border-radius: 10px;
    padding: 10px;
    margin-top: 6px;
}

.weaponFeature {
    font-size: 14px;
    margin-top: 3px;
}

.divider {
    width: 1px;
    height: 15px;
    margin: 0 3px;
    background-color: var(--foreground-bright);
}

.horizontalDivider {
    height: 1px;
    margin: 12px;
    background-color: var(--foreground-bright);
}
