.experienceContainer {
    margin-bottom: 6px;
    display: flex;
    align-items: center;
}

.experiencesInput {
    width: 100%;
    flex: 1 0;
}

.clearButton {
    margin-left: 6px;
}