.container {
    display: flex;
    flex-direction: row;
    align-self: center;
    flex-grow: 1;
    width: 100%;
}

.vertical {
    flex-direction: column;
}

.statContainer {
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 12px;
}

.statBlock {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    border: 1px solid var(--foreground);
    border-radius: 5px;
    padding-right: 12px;
    padding-top: 10px;
    align-items: start;
}

.statBlockNarrow {
    margin-left: unset;
    border: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.statGroup {
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
}

.statGroupNarrow {
    grid-template-columns: 33% 33% 33%;
    margin-bottom: 12px;
}

.verticalDivider {
    width: 1px;
    background-color: var(--foreground-secondary);
    margin: 6px 18px;
}

.limitedWidthDefenses {
    justify-content: center;
    flex-grow: 1;
}