.staticInputText {
    display: flex;
    min-width: 200px;
    height: fit-content;
    flex: 1 0;
    align-items: center;
    border-bottom: 1px solid var(--foreground-bright);
    color: var(--foreground-secondary);

    &:hover {
        .staticEditButton {
            visibility: visible
        }
    }
}

.inputField {
    flex: 1 0;
}

.noUnderline {
    border-bottom: none;
}

.staticEditButton {
    margin-left: 6px;
    visibility: hidden;
    margin-bottom: 3px;

    @media (pointer: coarse) {
        visibility: visible;
    }
}

.dynamicButton {
    visibility: visible;
    margin-bottom: 0;
}

.dynamicInputText {
    min-width: 200px;
    display: flex;
    height: 100%;
    align-items: center;
}

.staticInputPlaceholder {
    color: var(--foreground-tertiary);
}
