.container {
    margin-bottom: 15px;
    border: 1px solid var(--foreground-bright);
    border-radius: 10px;
    padding: 0 15px 6px;
}

.dropdownParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    min-width: fit-content;
    min-height: 30px;
    cursor: pointer;
    margin-top: 12px;
    margin-bottom: 3px;
}

.expandIndicator {
    width: 24px;
    height: 24px;
    margin-right: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.1s linear;
    margin-left: auto;
}

.expandIndicatorCollapsed {
    transform: rotate(-180deg);
    transition: transform 0.1s linear;
}
