.hopeFeatureContainer {
    display: flex;
    flex-direction: column;
}

.hopeFeatureTitle {
    font-size: 18px;
    margin-bottom: 12px;
}

.hopeFeatureDescription {
    font-size: 14px;
    line-height: 18px;
}

.hopeCounterContainer {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hopeCounter {
    background-color: var(--foreground-soft);
    border-radius: 20px;
    height: 40px;
    width: 80%;
    margin-bottom: 12px;
    margin-top: 6px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.diamondContainer {
    flex: 1 0;
    display: flex;
    justify-content: center;
}

.diamond {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: white;
    transform: rotateZ(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.diamondFilled {
    width: 20px;
    height: 20px;
    background-color: var(--foreground-bright);
    border-radius: 10px;
}

.hopeDivider {
    height: 30px;
    width: 3px;
    background-color: white;
}
