.pillContainer {
    display: flex;
    padding-left: 5px;
    cursor: pointer;
}

.pill {
    border-radius: 10px;
    width: 30px;
    height: 15px;
    border: 1px solid var(--foreground-bright);
    display: flex;
}

.filledPill {
    background-color: var(--foreground-bright);
}

.previewFilled {
    background-color: var(--foreground-soft);
}

.previewUnfilled {
    border: 1px dashed var(--foreground-bright);
}

.resourceContainer {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.disabled {
    border-color: var(--foreground-tertiary);
    cursor: auto;
}

.grid {
    width: 110px;
    flex-wrap: wrap;
    height: 100%;
}

.pillDisplay {
    display: flex;
    align-items: center;
    margin-right: 6px;
}

.hasGrid {
    margin-top: unset;
}

.crossOut {
    height: 1px;
    width: 100%;
    background-color: var(--foreground-tertiary);
    align-self: center;
    transform: rotate(30deg);
    cursor: auto;
}

.label {
    min-width: 65px;
}

.round {
    width: 15px;
}