:root {
    --background: #ffffff;
    --background-secondary: #cccccc;
    --foreground: #171717;
    --foreground-bright: #8250CE;
    --foreground-soft: #E9E0F6;
    --foreground-secondary: #58496e;
    --foreground-tertiary: #86828E;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: var(--foreground-bright);
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

ul {
    margin-left: 30px;
}
