.pageLayout {
    padding: 16px 10px 30px;
    display: flex;
    flex-direction: column;
}

.columnLayout {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.pageTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    align-self: center;
    text-align: center;
    margin-bottom: 12px;
    width: 100%;
    padding: 10px;
}

.pageHeaderBackground {
    padding: 10px;
    box-shadow: 0 0 10px 2px var(--foreground-soft);
}
