.pageLayout {
    padding: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.columnLayout {
    display: flex;
    flex-direction: row;
    width: 100%;
}
