.pageLayout {
    padding: 16px 10px 30px;
    display: flex;
    flex-direction: column;
}

.columnLayout {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.pageHeaderBackground {
    padding: 10px;
    box-shadow: 0 0 10px 2px var(--foreground-soft);
}
