.setButton {
    margin-top: 5px;
    width: 100%;
}

.infoLayout {
    display: flex;
    flex-direction: column;
}

.infoCategory {
    align-self: flex-start;
    font-size: 20px;
    margin-bottom: 6px;
    display: flex;
    width: 100%;
    padding-bottom: 3px;
    border-bottom: 1px solid var(--foreground-bright);
    align-items: flex-end;
}

.infoDescription {
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;

    a {
        display: inline;
    }
}

.rolePlayDescription {
    font-size: 14px;
    margin-bottom: 12px;
}

.changeButton {
    margin-left: auto;
    display: flex;
    justify-content: center;
    visibility: hidden;

    @media (pointer: coarse) {
        visibility: visible;
    }

    .infoLayout:hover & {
        visibility: visible;
    }
}

.featuresHeader {
    border-bottom: 1px solid var(--foreground-bright);
    width: fit-content;
    padding-right: 12px;
    margin-bottom: 8px;
}

.abilityBlockGroup {
    display: flex;
    flex-direction: column;
}

.abilityBlock {
    margin-top: 6px;
    margin-bottom: 6px;
}

.abilityName {
    margin-bottom: 6px;
    color: var(--foreground-secondary);
}

.abilityDescription {
    font-size: 14px;
    line-height: 18px;
}
