.galleryContainer {
    display: flex;
    position: relative;
    flex-direction: row;

    &:before {
        display: block;
        content: "";
        height: 100%;
        width: 25px;
        background: linear-gradient(
            to right,
            rgba(255, 255, 255, 1) 50%,
            rgba(255, 255, 255, 0) 80%
        );
        position: absolute;
        top: 0;
        left: 0;
        z-index: 15;
    }

    &:after {
        display: block;
        content: "";
        height: 100%;
        width: 25px;
        background: linear-gradient(
            to left,
            rgba(255, 255, 255, 1) 50%,
            rgba(255, 255, 255, 0) 80%
        );
        position: absolute;
        top: 0;
        right: 0;
        z-index: 15;
    }
}

.gallery {
    overflow-x: auto;
    display: grid;
    grid-auto-flow: column;
    gap: 6px;
    margin-left: 0;
    margin-right: 0;
    padding: 6px 27px;
}

.name {
    font-size: 20px;
    margin-bottom: 6px;
}

.background {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 12px;
    color: var(--foreground-tertiary)
}

.card {
    min-width: 300px;
    height: 100%;
    border: 1px var(--foreground-tertiary) solid;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 0;
    cursor: pointer;
}

.cardSelected {
    border: 1px var(--foreground-bright) solid;
    box-shadow: 0 0 2px 2px var(--foreground-bright);
}

.abilityBlock {
    margin-top: 6px;
    margin-bottom: 12px;
    font-size: 14px;
}

.abilityName {
    font-weight: bold;
    display: inline;
}

.abilityDesc {
    display: inline;
}
