.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.selectedOptionsBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 20px;
}

.resetButton {
    align-self: unset;
    width: fit-content;
}

.divider {
    height: 1px;
    background-color: gray;
    margin: 12px;
}

.baseScreenContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.optionCard {
    width: 75%;
    padding: 15px;
    border: 1px gray solid;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    &:focus,
    &:hover {
        box-shadow: 0 0 3px 3px #ccc;
    }

    & .selected {
        border: 1px black solid;
    }
}

.optionDescription {
    margin-bottom: 3px;
}

.statSelectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statSelection {
    margin-bottom: 6px;
    margin-top: 6px;
}

.statInput {
    margin: 0 6px;
    width: 150px;
}

.asiActionButton {
    margin: 0 6px;
    width: 60px;
}

.tierUpTitle {
    font-weight: bold;
}

.tierUpDescription {
    font-size: 14px;
}

.expSelection {
    margin: 6px 0;
    width: 40%;
}

.expRow {
    display: flex;
    align-content: center;
    margin: 10px 0;

    label {
        height: fit-content;
        align-self: center;
    }
}

.checkbox {
    width: 20px;
    height: 20px;
    margin-left: auto;
    cursor: pointer;
}
