.healthBlock {
    display: flex;
    flex-direction: column;
}

.armorThresholds {
    display: flex;
    align-items: center;
    align-self: center;
}

.thresholdDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}